.root {
  border-collapse: collapse;
  width: 100%;

  th, td {
    padding: .5rem 1rem;
    vertical-align: bottom;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    background: #eee;
    text-align: left;
  }
}

.lockAnchor {
  color: indianred;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
